{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "proseWrap": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "avoid"
}
